body {
  background: #F2F2F2;
  color: #222222;
}

a body {
  color: #222222;
  text-decoration: none;
  transition-duration: 0.3s;
  padding: 5px;

  &:hover {
    color: #3C3B44;
    background: #BFD3C1;
    text-decoration: none;
    border-radius: 3px;
  }
}
