<div class="banner" style="background-color: #33323A;
background-image: linear-gradient(203deg, #807b61 20%, #33323A 88%)">
  <div class="container">
    <h1>GamerCouch</h1>
    <p>the right place to find your video games</p>
   <%= link_to "Welcome" , games_path,class: "btn btn-primary" %>
  </div>
</div>
