<div class="way-to-go">
  <div class="home-site-card">
    <%= image_tag "heart2.png",width: "100px",class: "left" %>
    <h2>You tell us your favorite games</h2>
  </div>
  <div class="home-site-card arrow"><i style="font-size: 100px" class="fas fa-arrow-right"></i></div>
  <div class="home-site-card">
    <%= image_tag "8da302a19e.png",width: "100px",class: "right"%>
    <h2 class="text-center">We give you the perfect game<br>according to your taste</p>
  </div>
</div>


