<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
  <div class="card-product-infos">
  <h2 class="text-center"><%= @game.name %> </h2>
    <p><%= @game.year %> </p>
      <p> <%= @game.category %> </p>
      <p><%= @game.platform %> </p>
  </div>
</div>
