<!-- <div class="collapse" id="collapseExample">
  <div class="card card-body">
<%= simple_form_for([ game, comment ], remote: false) do |form| %>
  <%= form.input :content, as: :text, placeholder: 'Write something' %>
  <%= hidden_field_tag "from", params[:action] %>
  <%= form.submit "add a comment", class: "btn btn-primary" %>
<% end %>
  </div>
</div> -->

