<div class="container">

<h1>Top 3 of recommanded games</h1>

<% @three_most_liked_games.each do |game| %>
  <%=render "card_index", game: game %>
<% end %>

<%= link_to "Go back", games_path %>

</div>
