<div class="container">
  <%= link_to "Sort by like", games_path(sort: "like", search_query: params[:search_query]) %>
  <%= link_to "Sort by comment", games_path(sort: "comment", search_query: params[:search_query]) %>

  <% @games.each do |game| %>
    <%=render "card_index", game: game %>
  <% end %>

</div>
