<h1>Right choice for you ?</h1>



<h3>Tous les likes sur ce jeu</h3>
<% @game.likes.all.each do |like| %>
<%= like.user %>
<% end %>


<br>
<br>
<br>

<h3>ID des users qui ont liké</h3>

<%= other_users = @game.likes.where.not(user_id: current_user).pluck(:user_id) %>

<br>
<br>
<br>




<h3>Jeux likés par le current_user</h3>
<% your_likes = [] %>
<% current_user.likes.each do |like| %>
  <%= your_likes << like.game %>
<% end %>


<br>
<br>
<br>


<h3>Autres likes des users</h3>

<% other_users.each do |user| %>
  <% User.find(user).likes.each do |like| %>
    <%= like.game %>
  <% end %>
<% end %>

<br>
<br>
<br>

<h3>Likes en commun avec ceux qui ont aimé ce jeu</h3>

<% other_users.each do |user| %>
  <% User.find(user).likes.select do |like| %>
    <% your_likes.include?(like.game) %>
  <% end %>
<% end %>


