<div class="container">
  <div class="show-and-comment">
    <%=render "games/card_show" %>
    <div class="comment-block">
    <%= render 'games/form', game: @game, comment: @comment %>
          <div id="comments">
            <% myTab = Array.[] %>
          <% @game.comments.each do |comment| %>
          <% myTab << comment %>
          <% end %>
           <% myTab.reverse!%>
          <% myTab.each do |element| %>
          <%= render 'games/comment_content', comment: element %>
          <% end %>
        </div>
    </div>
  </div>
  <%= link_to "go back", games_path, class: "lien-goback" %>
</div>
