<div class="container ml-5 mr-5">
  <div class="row justify-content-center d-flex">
    <div class="show-and-comment">
      <%=render "games/card_show" %>
    </div>
    <div class="comment-block">
      <%= render 'games/form', game: @game, comment: @comment %>
      <div id="comments" class="text-justify">
        <% myTab = Array.[] %>
        <% @game.comments.each do |comment| %>
          <% myTab << comment %>
        <% end %>
        <% myTab.reverse!%>
        <% myTab.each do |element| %>
          <%= render 'games/comment_content', comment: element %>
        <% end %>
      </div>
    </div>
  </div>
</div>


