.card-product {
  margin-top:20px;
  overflow: hidden;
  height: 80vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  width:700px;
}

.card-product img {
  height: 20%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-product {
    display:""
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .card-product {
    width:300px
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 997px) {
      .card-product {
    width:400px
  }
}


