.banner {
  background-size: cover;
  background-position: center;
  height:95vh
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}
.most-popular {
  color: white;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9
}

.select2{
  width:100%;
}
