.banner {
  background-size: cover;
  background-position: center;
  height: 54vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    margin-top: 30px;
    width: 80%;
  }
}


.form-new-games span.select2 {
  width: 100% !important;
}

.banner h1 {
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}
.most-popular {
  color: black;
}

.banner {
  .sub-message {
    position: absolute;
    top: 152px;
  }
  p {
    font-size: 24px;
    // color: #FFA800;
    color: white;
    opacity: 0.9;
  }

  .form-new-games {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.select2{
  width:100%;
}
