.banner {
  background-size: cover;
  background-position: center;
  height: 641px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}
.most-popular {
  color: black;
}

.banner p {
  font-size: 16px;
  color: black;
}

.select2{
  width:100%;
}
