* { outline: none !important; }



.card-product-index-left {
  position: relative;
  display: flex;
  flex-basis: 86%;
    a.absolute-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    &:hover {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
      border-radius: 5px;
    }
    }
}

.platform {
  flex-grow: 1;
  margin-top: 16px;
}

.card-product-infos {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.card-product-index img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.right {
  font-size: 46px;
  font-weight: normal;
  cursor: pointer;
  flex-basis: 15%;
  position: relative;
  #match-score {
    font-family: cursive;
    font-size: 55px;
    position: absolute;
    top: 25%;
    left: 9%;
  }
}

















.card-product-index {
  margin: 20px 0px 20px 0px;
  box-shadow: 4px 9px 5px gray;
  color: #222222;
  display: flex;
  border-radius: 3px;
  background-color: #F2F2F2;
  border: 1px solid;


.reaction {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  a {
    color: #222222;
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 7px;
  }
  .link-cursor {
    cursor: pointer;
    padding: 5px;
  }
  .link-cursor:hover {
    color: #FFFFFF;
    background: #FFA800;
    border-radius: 5px;
    padding: 5px;
  }
  .link-cursor:hover a {
    color: $ice-white;
  }
}

.fas, a.fas.fa-comments {
  color : #FFA800;
}
}

.grid-card-index {
  display: flex;
  flex-grow: 0;
}




.card-product-index h1 {
  font-size: 20px;
  margin: 0;
}

.card-product-index h2 {
  font-size: 16px;
  margin: 0;
}

.card-product-index h3 {
  font-size: 12px;
  margin: 0;
}

.card-product-index h4 {
  font-size: 16px;
  margin: 0;
}




.index-comments-counter {
  display: flex;
}



.recommandation-index {
  margin: 20px 0px 20px 20px;
  height: 125px;
  width: 805px;
  text-decoration: none;
}

.hidden {
  display: none;
}

.match-index {
  margin: 20px 0px 50px 20px;
  height: 168px;
  width: 805px;
  .mini-card {
    align-items: center;
    margin: 4px 0 4px 0;
    display: flex;
    font-size: 14px;
    border-bottom: thick double;
    .img-mini {
      height: 50%;
      width: 50px;
      object-fit: cover;
    }

    .mini-card-info {
      width: 85%;
      padding-top: 19px;
      margin-left: 14px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: #222222;
      }
      .matching-percent {
        font-size: 17px;
      }
    }
  }
  ul {
    list-style-type: none;
  }
}

.active {
    color: $ice-white;
    background: #FFA800;
    border-radius: 3px;
}

.card-product-index-comment {
  width: 805px;
}

.lateral-button {
  position: sticky;
  top: 0;
  padding-top: 15px;
  a {
    border: 1px solid;
    color: #222222;
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 7px;
    &:hover {
      color: $ice-white;
      background: #FFA800;
      border-radius: 3px;
    }
  }
}

.bottom-line {
  margin-top: -12px;
}

.search-bar {
  margin: 30px 0 15px 0;
  width: 50%;
  margin-left: 25%;
}

.search-bar-careful-one {
  margin: 30px 0 15px 0;
  width: 50%;
  margin-left: 25%;
  border: 1px solid;
  border-width: 3px;
  border-color: #FFA800;
  transition-duration: 0.2s;
}

.search-bar-careful-two {
  margin: 30px 0 15px 0;
  width: 50%;
  margin-left: 25%;
  border: 1px solid;
  border-width: 3px;
  border-color: #4c4c4c;
  transition-duration: 0.5s;
}

.like-notif {
  position: relative;
  left: 844px;
  bottom: 48px;
  font-size: 13px;
}

.comment-index {
  width: 600px;
}


.badder {
  color: red;
}

.less-bad {
  color: orange;
}

.middle {
  color: blue;
}

.good {
  color: green;
}

.very-good {
  color: green;
  text-weight: bolder;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
