.card-product-top{
  background-color: #ffffff;
  display: flex;
  margin-bottom: 10px;
  padding:10px;
}

.submit-comment {
  margin-left: auto;
  display: flex;
}

.card-product-bot {
  padding-left: 4px;
  padding-right: 4px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding:10px;
  position:relative;
  .add-wish {
  }
  }

.card-product-show {
  flex-direction: column;
  margin-top:20px;
  color: #222222;
  display: flex;
  width:805px;
  border-radius: 3px;

a {
  color: #222222;
  text-decoration: none;
}
}

.card-product-show img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product-show h2 {
  font-size: 24px;
  padding-top: 5px;
}

.card-product-show  p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .8;
  margin: 8px 1px 0 1px;
}
.lien-goback{
  color:rgb(60, 59, 68);
  font-weight: 700;
}

.card-product-show  .card-product-infos {
  padding: 10px;
}

.show-and-comment {
  display: flex;
  height: 550px;
}
#little-images img {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: block;
  padding-bottom: 5px;
}
#little-images{
  position:absolute;
  top:0px;
  right: 120px;
}
#big-image img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-size: cover;
  object-fit: contain;
}
.big-image-bot{
   width: 400px !important;
  border-radius: 0px;
  margin-bottom: 20px !important;
}
#big-image-bot{
  height: 200px;
  background-size: cover;
}
.add-wish{
  background-color: #FFA800;
  opacity: .8;
  padding:10px;
  width:100%;
  text-align:center;
  border-radius: 0px;
  font-weight: 700;

}
.add-wish:hover{
  box-shadow: 1px 3px 3px #02020230;
  opacity: 1;
  }
div.card-product-description {
  margin-bottom: 20px;
}
div.card-product-description p {
  font-size: 16px;
  padding-top: 8px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-product-show  {
    display:""
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .card-product-show  {
    width:300px
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 997px) {
  .card-product-show  {
    width:400px
  }
}
