.card-product-index {
  position: relative;
  overflow: hidden;
  margin: 20px 0px 20px 20px;
  height: 125px;
  width: 704px;
  background: #3C3B44;
  color: #BFD3C1;
  display: flex;
  border-radius: 3px;

.reaction a {
  color: #BFD3C1;
  text-decoration: none;
  transition-duration: 0.3s;
  padding: 7px;

  &:hover {
    color: #3C3B44;
    background: #BFD3C1;
    border-radius: 3px;
  }
}
}
a.absolute-link {
  position: absolute;
  top: 0;
  bottom: 24px;
  right: 0;
  left: 0;
  }

.card-product-index img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product-index h1 {
  font-size: 20px;
  margin: 0;
}

.card-product-index h2 {
  font-size: 16px;
  margin: 0;
}

.card-product-index h3 {
  font-size: 12px;
  margin: 0;
}

.card-product-index h4 {
  font-size: 16px;
  margin: 0;
}

.card-product-index .card-product-infos {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width:100%;
}

.title-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.platform {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.reaction {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.index-comments-counter {
  display: flex;
}

.hidden-match-index {
  margin: 20px 0px 20px 20px;
  height: 125px;
  width: 704px;
  background: #3C3B44;
  display: none;

  .mini-card {
    font-size: 12px;
  }
}

.active {
    color: #3C3B44;
    background: #BFD3C1;
    border-radius: 3px;
}

.card-product-index-comment {
  width: 704px;
}
