.card-product-index {
  position: relative;
  overflow: hidden;
  margin: 20px 0px 20px 20px;
  width: 704px;
  height: 124px;
  // background: #7f7233;
  color: #bfd2c0;
  display: flex;
  border-radius: 3px;

.reaction{
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  z-index: 1;
  a {
    color: #bfd2c0;
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 7px;

  &:hover {
    color: #bfd2c0;
    background: #ff0c18;
    border-radius: 5px;
    }
  }
}

a.absolute-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  }
}

.card-product-index img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product-index h1 {
  font-size: 20px;
  margin: 0;
}

.card-product-index h2 {
  font-size: 16px;
  margin: 0;
}

.card-product-index h3 {
  font-size: 12px;
  margin: 0;
}

.card-product-index h4 {
  font-size: 16px;
  margin: 0;
}

.card-product-index .card-product-infos {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width:100%;
}

.title-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.platform {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.index-comments-counter {
  display: flex;
}

.recommandation-index {
  margin: 20px 0px 20px 20px;
  height: 125px;
  width: 704px;
  background: #3C3B44;
}

.hidden {
  display: none;
}

.hidden-match-index {
  margin: 20px 0px 50px 20px;
  height: 168px;
  width: 704px;
  // background: #3C3B44;
  display: none;
  .mini-card {
    align-items: center;
    margin: 4px 0 4px 0;
    display: flex;
    font-size: 14px;
    border-bottom: thick double;
    .img-mini {
      height: 50%;
      width: 50px;
      object-fit: cover;
    }

    .mini-card-info {
      width: 85%;
      padding-top: 19px;
      margin-left: 14px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: #BFD3C1;
      }
      .matching-percent {
        font-size: 17px;
      }
    }
  }
  ul {
    list-style-type: none;
  }
}

.active {
    color: #3C3B44;
    background: #BFD3C1;
    border-radius: 3px;
}

.card-product-index-comment {
  width: 704px;
}

.lateral-button {
  position: sticky;
  top: 0;
  padding-top: 15px;
  a {
  color: #bfd2c0;
  text-decoration: none;
  transition-duration: 0.3s;
  padding: 7px;
  &:hover {
    color: #bfd2c0;
    background: #ff0c18;
    border-radius: 3px;
  }
  }
}

.bottom-line {
  margin-top: -12px;
}
