.comment-content {
border-bottom:1px solid black;
  margin-top:10px;
  font-size: 12px;

}

#comments {
  background-color: white;
}
.comment-block {
  flex-direction: column;
  margin:20px 0 10px 5px;
  background: #3C3B44;
  color: #3C3B44;
  display: flex;
  width:300px;
  border-radius: 3px;
}
