.comment-content {
  border-bottom:1px solid black;
  margin-top:10px;
  font-size: 12px;
  padding: 0 4px 0 4px;
  background-color:white !important;
}

#comments {
  background-color: #F2F2F2;
  overflow: scroll;
  height: 100%;
}
.comment-block {
  flex-direction: column;
  margin:20px 0px 0px 5px;
  background: #ffffff;
  color: #3C3B44;
  display: flex;
  width:300px;
  border-radius: 0px;
  height: 781px;
}

.comment-content-description {
  font-size: 14px;
  padding: 0 20px 0 20px;
  margin: 0 0 8px 0;
}
.submit-comment {
      width: 100%;
    padding: 5px;
    font-weight: 700;
    background: #ffffff;
    opacity: .8;
    padding-left:80px
}
.submit-comment:hover {
    opacity: 1;
}
