.black-color{
  color:black;
  opacity: .7
}
.black-color:hover{
  color:black;
    opacity: 1
}
.dash-title {
  margin: 5px 30%;
}

.fav-games-list {

}

.wishlist {

}

.dash-comments{

}

.fav-img {
  align-self: center;
}

.card-product-dashboard {
  position: relative;
  overflow: hidden;
  margin: 12px 23px 0px -23px;;
  width: 280px;
  height: 62px;
  color: #222222;
  border-radius: 3px;
  display: flex;
  img {
    height: 100%;
    width: 20%;
    object-fit: cover;
  }
  .card-product-infos {
    padding: 8px 4px;
    width:100%;
  }
}

ul {
  list-style-type :none;
}
.comment-line{
  border-bottom: 1px solid black;
  padding:10px;
}
