#passions{
  font-size:18px !important;
}

.sign-up {
  background-color:#807b61;
  margin-right: 24px;
  color:#bfd2c0;
  border-radius: 50px;
  width:100%;
  text-align:center;
  padding:7px
}

.sign-up:hover {
  color:#bfd2c0;
  text-decoration: none;
  background: rgba(128, 123, 97,0.8)
}
.sign-up-1 {
  background-color:#807b61;
  margin-right: 24px;
  border-radius: 50px;
  padding:7px 15px;
  color:#bfd2c0;
}

.sign-up-1:hover {
  color:#bfd2c0;
  text-decoration: none;
  background: rgba(128, 123, 97,0.8)
}

.form{
  background: white;
  color:black;
  padding:15px 123px !important;
}

#passions-block {
    width:50%;
}
#passions{
  height:100vh;
  padding-top: 220px;
  font-size:23px !important;
}
.form-1{
  background: white;
  color:black;
  padding:15px 25px !important;
}
