.home-site-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  margin-top: 75px;

  p {
    color: #222222;
    text-align: center;
    font-size: 14px;
  }

  img {
    background-color: transparent;
    height: 120px;
    width: 120px;
    margin-bottom: 30px;
  }
}

.home-site-card.arrow {
  width: 250px;
}

.home-button {
  // position: relative;
  // left: 301px;
  margin-top: 20px;
  background-color: #FFA800;
  color: #222222;
  border: 0;
  font-weight: bolder;
  transition-duration: 0.5s;
  padding: 15px 30px;
  border-radius: 4px;
  &:hover {
    background-color: #222222;
    color: #FFA800;
  }
}

.games-show {
  padding-top: 48px;
}

.show-title {
  // padding-top: 50px;
  // margin-right: 15px;
  text-align: center;
  p {
  font-size: 30px;
  color: white;
  }
}

.way-to-go {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  right: 34px;
  position: absolute;
}

.most-popular {
  color: #222222;
}

.sub-message {
  color: #FFA800;
}
.left {

}

.left {

}

