.home-site-card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 7px 99px grey;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 50%;
  width: 250px;
  height: 250px;

  p {
    color: #222222;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
  }

  img {
    background-color: transparent;
    height: 120px;
    width: 120px;
  }
}

.home-button {
  position: relative;
  left: 301px;
  height: 50px;
  width: 200px;
  top: 23px;
  background-color: #ff0c18;
  color: #222222;
  border: 0;
  font-weight: bolder;
  margin-bottom: 47px;
  transition-duration: 0.5s;
  &:hover {
    background-color: #222222;
    color: #ff0c18;
  }
}

.games-show {
  padding-top: 48px;
}

.show-title {
  padding-top: 50px;
  margin-right: 15px;
  text-align: center;
  p {
  font-size: 75px;
  color: #ff0c18;
  }
}

.way-to-go {
  display: flex;
  justify-content: space-around;
  margin-top: 43px;
  right: 34px;
  position: absolute;
}

.most-popular {
  color: #222222;
}

