.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.nav-site-title {
  font-size: 23px;
  color: #FFA800;
  position: absolute;
  left: 66px;
  top: 14px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 32px;
  height: 32px;
}


.nav-item {
  background: white;
  padding: 6px 1px 2px 1px;
  margin: 0 5px 0 5px;
  a {
    color: #222222;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid;
    padding: 8px 14px 8px 12px;
    &:hover {
      color: #bfd2c0;
      background: #FFA800;
    }
  }
}
.navbar-brand {
  img {
   background : #FFA800;
   border-radius: 21px;
  }
}
